<div class="col-lg-12">
  <h1 class="page-header">
    <% if search_form.title %>
      検索ワード：<%= search_form.title %>
    <% else %>
      トップページ
    <% end %>
  </h1>
</div>

<% if logged_in? %>
  <%= render 'feed' %>
<% end %>
