<% p = CommentPresenter.new(@comment, self) %>
<table class="table table-striped">
  <% p = CommentPresenter.new(@comment, self) %>
  <%= link_to image_tag(@comment.user.icon_image, alt: 'icon', class: 'icon-tiny'), @comment.user %>
  <%= p.sender %>
  <%= p.created_at %>
</table>
<div><%= formatted_content(@comment.content) %></div>
