div#error {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px $gray;
  background-color: $gray-lighter;
  text-align: center;
  p.url { font-family: monospace; }
}
