<footer>
  <small>
    <%= link_to "Webllis", root_path %>
    by jizoo.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Webllisとは", about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>
