<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
      <%= link_to "webllis", root_path, id: "logo" %>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "ユーザ登録", :signup %></li>
        <li><%=
          if current_user
            link_to 'ログアウト', :session, method: :delete
          else
            link_to 'ログイン', :login
          end
          %>
        </li>
      </ul>
  </div>
</header>
