<% provide(:title, @title) %>
<h1 class="page-header">
  <%= @title.present? ? @title : 'フィード' %>
</h1>

<% unless params[:search].present? && params[:search][:title].blank? %>
  <%= render @posts %>
  <%= paginate @posts %>
<% end %>

<%= render 'shared/tag_cloud' %>
