<%
@title = '' if params[:tag].blank? && params[:search].blank?
@title = "#{params[:tag]}に関する投稿" if params[:tag].present?
@title = "#{params[:search][:title]}の検索結果" if params[:search].present? && params[:search][:title].present?
@title = '検索ワードが入力されていません。' if params[:search].present? && params[:search][:title].blank?
@title = case params[:action]
  when 'index'; @title
  when 'posted'; '自分の投稿一覧'
  when 'favorite'; 'お気に入りの投稿一覧'
  when 'picked'; '編集者の投稿一覧'
  else; raise
end
%>

<% provide(:title, @title) %>

<div class="col-lg-12">
  <h1 class="page-header">
    <%= @title.present? ? @title : 'フィード' %>
  </h1>
</div>

<% unless params[:search].present? && params[:search][:title].blank? %>
  <%= render @posts %>
  <%= paginate @posts %>
<% end %>

<%= render 'shared/tag_cloud' %>
