@import "bootstrap";
@import "shared/errors";
@import "admin/layout";

// universal

body {
  padding-top: 70px;
}

// typography

h1 {
  font-size: 4.2rem;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

// header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.4rem;
  color: $gray-light;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  &:hover {
    color: $gray;
    text-decoration: none;
  }
}

.search {
  padding-top: 6px;
}

// footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

// forms

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    padding: 4px;
  }
}

.field_with_errors {
  @extend .has-error;
}

label.required:after {
  content: '*';
  padding-left: 3px;
  color: #f00;
}

.notes {
  text-align: right;
  span {
    padding: 2px;
    color: #f00;
  }
}

// users index

.users {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

// tag cloud

#tag_cloud {
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

// icon
.icon-radio {
  margin-top: 35px !important;
}

.icon-tiny {
  width: 15px;
  height: 15px;
}

.icon-small {
  width: 20px;
  height: 20px;
}

.icon-medium {
  width: 25px;
  height: 25px;
}

.icon-large {
  width: 50px;
  height: 50px;
}
